<div class="card" style="width: 24rem;">
  <div class="card-body">
    <h5 class="card-title">Cart</h5>
    <hr>
  <div class="d-flex align-items-center">
    <div class="col-2 p-0">
      <img class="img-fluid rounded" src="../../../assets/images/image-product-4-thumbnail.jpg" alt="" />
    </div>
    <div class="col-8 resumen">
      <p class="">Fall Limited Edition Sneakers</p>
      <p class="">$125.00 x {{amount}} <span class="totalPrice">${{totalPrice}}</span></p>
      <p></p>
    </div>
    <div class="col-2 ">
      <img src="../../../assets/images/icon-delete.svg" alt="">
    </div>
  </div>
    <button type="button" class="btn btn-block cart mt-3">
      Checkout</button>
  </div>
</div>
